* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
#menu-container {
  max-width: 1000px;
  margin: 0 auto;
  margin-bottom: 10px;
  display: flex;
  align-items: center; /* verticall align */
  justify-content: right;  /* horizontally align  */
  width: 98%;
  height: 50px;
}
button {
  font-family: Candara;
  font-size: 12pt;
  border: none;
  height: 30px;
  width: 100px;
  background-color: #FF6F61;
  border-radius: 5px;
  transition-duration: 500ms;
  margin: 0 9px;
}
button:hover {
  box-shadow: 0 4px 10px 2px gainsboro;
  cursor: pointer;
}

/* TABLE */

table {
  border-collapse: collapse;
  table-layout: fixed;
  margin: 10px auto;
  box-shadow: 0 1px 2px gainsboro, 
  0 2px 4px gainsboro, 
  0 4px 8px gainsboro, 
  0 8px 16px gainsboro,
  0 16px 32px gainsboro, 
  0 32px 64px gainsboro;
  border-radius: 5px;
  overflow: hidden;
  width: 98%;
  max-width: 1000px;
}
#edit-btn-row, #delete-btn-row {
  margin: 0 5px;
  display: inline-block;
  height: 100%;
  width: 50px;
}
tbody tr {
  border-bottom: 1px solid gainsboro;
}
tbody tr:nth-of-type(even) {
  background-color: ghostwhite;
}
tbody tr:last-of-type {
  border-bottom: 3px solid #FF6F61;
}
thead tr {
  box-shadow: 0 4px 10px 1px gainsboro;
}
thead tr:last-of-type {
  box-shadow: none;
}
table thead {
  background-color: #FF6F61;
  font-family: Candara;
  font-size: 13pt;
}
th,td {
  padding: 15px;
  text-align: left;
}
th:last-child {
  display: flex;
  justify-content: center;
  background-color: white;
}
td:last-child{
  display: flex;
  justify-content: center;
}
td {
  height: 70px;
}


/* END TABLE */
/* FORMS */

#form-container {
  position: relative;
  top: 50px;
}
#form-container form {
  background-color: white;
  box-shadow: 0 1px 2px gainsboro, 
  0 2px 4px gainsboro, 
  0 4px 8px gainsboro, 
  0 8px 16px gainsboro,
  0 16px 32px gainsboro, 
  0 32px 64px gainsboro;
  height: 370px;
  width: 400px;
  left: 50%;
  top: 50%;
  margin-left: -200px;
  padding-top: 30px;
  border-radius: 4px;
  position: absolute;
}
#form-container input {
  border-radius: 5px;
  border: 1px solid gainsboro;
  font-size: 15pt;
  padding-left: 5px;
  display: block;
  width: 300px;
  height: 40px;
  margin: 10px auto;
}
#form-container button {
  display: block;
  width: 300px;
  height: 40px;
  margin: 10px auto;
}
/* END FORM */
