#wrapper {
    position: relative;
}
#function-button-container {
    display: block;
    height: 50px;
}
#add-button {
    margin-right: 10px;
    clear: both;
}
#add-button, #edit-button-main, #save-button {
    margin-left: 10px;
}
#add-button, #edit-button-main, #save-button, #delete-button, #edit-button, #user-input-form button {
    float: right;
    width: 90px;
    height: 35px;
    border: none;
    background-color: #555555;
    color: white;
    border-radius: 4px;
    transition-duration: 500ms;
}
#delete-button, #edit-button {
  float: none;
}
#add-button:hover, #edit-button:hover, #edit-button-main:hover, #delete-button:hover, #save-button:hover, #user-input-form button:hover {
    cursor: pointer;
    background-color: white;
    color: black;
    border: 1px solid #555555;
}
#user-data-table {
  width: 100%;
  text-align: left;
  border-collapse: collapse;
  table-layout: fixed;
}
#user-data-table td, #user-data-table th {
  height: 50px;
}
#user-data-table tbody td {
  border-bottom: 1px solid #DFDFDF;
  font-size: 14pt;
  color: #000000;
  width: 30%;
}
#user-data-table thead {
  border-bottom: 2px solid #000000;
}
#user-data-table thead th {
  font-size: 15px;
  font-weight: bold;
  color: #000000;
  text-align: left;
}}
/* ADD FORM */
#user-input-form, #user-edit-form {
    background-color: white;
    border-radius: 4px;
    height: 300px;
    width: 400px;
    left: 50%;
    top: 50%;
    margin-left: -200px;
    padding-top: 30px;

    box-shadow: 0 0 10px 5px gainsboro;
    border-radius: 4px;
}
#user-input-form input, #user-input-form button, #user-edit-form input, #user-edit-form button {
    font-size: 20px;
    padding: 5px;
    display: block;
    width: 300px;
    height: 40px;
    margin: 10px auto;
}

#user-input-form input, #user-edit-form input {

border: 1px solid gainsboro;
border-radius: 4px;
box-sizing: border-box;

}
#user-input-form button, #user-edit-form input {
    float: none;
}
